div {
  /*    background-color: #00FFFF;*/
}
*{
    box-sizing: border-box;
}
p {
    width: 25%;
    padding: 10px;
    text-align: center;
      
}

#p1 {

  float: left;
}
#p2 {

  float: left;
}
#p3 {
  
  float: left;
}
#p4 {
  background-color: #ff7f50;
}
section {
  clear: both;
}
